<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Layabout Larcenists</title>
</head>
<body>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Layabout Larcenists</h1>
			<p class="lead">Loot the land for what's laudable, lazily lounge
				around, and listlessly lay it on us</p>
		</div>
	</div>

	<h2 data-th-if="${message}">
		<span data-th-text="${message}"></span>
	</h2>

	<h2>Here are our thieves along with their stolen goods:</h2>
	<div data-th-each="thief: ${thieves}">
		<span data-th-text="${thief.username}"></span> <span
			data-th-text="${thief.thiefGoods}"></span>
	</div>
	<br />
	<h2 data-th-if="${@thief.loggedIn}">
		<!-- REMEMBER TO ADD THIS AS BEAN IN APP CLASS -->
		<span><a data-th-href="@{/new}">Click here to chronicle a new stolen good of yours</a></span>
		<br />
		<form action="/logout" method="POST">
			<button type="submit">Log out if you wish</button>
		</form>
	</h2>
	<h2 data-th-unless="${@thief.loggedIn}">
		<!-- REMEMBER TO ADD THIS AS BEAN IN APP CLASS -->
		<span><a data-th-href="@{/login}">Click here to login</a></span> <br />

	</h2>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>