<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New Stolen Good</title>
  </head>
  <body>
    <h1>Chronicle your new stolen good, <span data-th-text="${@thief.username}"></span></h1>
    <br />
	<form action="/old" method="POST" data-th-object="${potentialGood}">
	<h2 data-th-if="${#fields.hasAnyErrors()}">Please steal away the errors</h2>
		<div class="form-group">
			<label for="exampleFormControlInput1">Name of Good</label> 
			<input type="text" class="form-control" data-th-field="*{nameOfGood}" data-th-errorclass="is-invalid"
				id="exampleFormControlInput1" placeholder="Tell us what it is"/>
				 <div class="invalid-feedback"
	      data-th-errors="*{nameOfGood}">err</div>
				
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Victim</label> <input
				type="text" class="form-control" data-th-field="*{victim}" data-th-errorclass="is-invalid"
				id="exampleFormControlInput2"
				placeholder="S/he who used to own it"/>
				<div class="invalid-feedback"
	      data-th-errors="*{victim}">err</div>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Description of Event</label>
			<textarea class="form-control" data-th-field="*{descriptionOfEvent}" data-th-errorclass="is-invalid"
			id="exampleFormControlTextarea1"
				rows="3" placeholder="Describe it oh so well"></textarea>
				<div class="invalid-feedback"
	      data-th-errors="*{descriptionOfEvent}">err</div>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Comment</label>
			<input class="form-control" data-th-field="*{goodComments}" data-th-errorclass="is-invalid"
			id="exampleFormControlInput3"
				rows="3" placeholder="Make your own first comment if you want"/>
				<div class="invalid-feedback"
	      data-th-errors="*{goodComments}">err</div>
		</div>
		<button type="submit">Post it</button>
	</form>
	<br />
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>